<h1 style="text-align:center; padding: 40px">{{title}}</h1>

<div style="display: flex; justify-content: center; ">
  <div class="card" style="width:50%; background-color:bisque">
    <div class="card-body" style="text-align: center; line-height:30px; ">
      Explore the greatest masterpieces of cinema, television, and literature.
      We've curated a list of the top 3 best movies, TV shows, and books of all
      time that have left an indelible mark on popular culture. Whether you're a
      movie buff, a TV series binge-watcher, or an avid reader, these picks are
      must-experiences.
    </div>
  </div>
</div>